<div class="topnav">
    <div class="left-nav">
      <a routerLink="home" routerLinkActive="active">Home</a>
      <a routerLink="pipes" routerLinkActive="active">Pipes</a>
      <a routerLink="observables" routerLinkActive="active">Services</a>
      <a routerLink="data" routerLinkActive="active">Data</a>
      <a routerLink="contact" routerLinkActive="active">Contact</a>
      <a routerLink="hooks" routerLinkActive="active">Hooks</a>
    
    </div>
    <div class="right-nav">
      <a routerLink="cart" routerLinkActive="active">Payment</a>
      <a routerLink="login" routerLinkActive="active">Login</a>
    </div>
  </div>


