<div class="topnav">
    <div class="left-nav">
      <a routerLink="home" routerLinkActive="active">Home</a>
      <a routerLink="pipes" routerLinkActive="active">Pipes</a>
      <a routerLink="http" routerLinkActive="active">HTTP</a>
      <a routerLink="data" routerLinkActive="active">Data</a>
      <a routerLink="contact" routerLinkActive="active">Contact</a>
      <a routerLink="hooks" routerLinkActive="active">Hooks</a>
      <a routerLink="observable" routerLinkActive="active">Observable</a>
      <a routerLink="feedback" routerLinkActive="active">Feedback</a>
    
    </div>
    <div class="right-nav">
      <a routerLink="cart" routerLinkActive="active">Cart</a>
      <a routerLink="payment" routerLinkActive="active">Payment</a>


      <a routerLink="login" routerLinkActive="active">Login</a>
      <a routerLink="login" [queryParams]="{logout: true}">Logout</a> 
      <a>{{ displayName.getUsername()}}</a>
    </div>
  </div>


