<div class="topnav">
    <div class="left-nav">
      <a routerLink="home" routerLinkActive="active">Home</a>
      <a>Subject</a>
      <a>Observable</a>
      <a routerLink="pipes" routerLinkActive="active">Pipes</a>
      <a>Data</a>
      <a routerLink="contact" routerLinkActive="active">Contact</a>
      <a>Hooks</a>
      <a>Session</a>
    </div>
    <div class="right-nav">
      <a routerLink="cart" routerLinkActive="active">Cart</a>
      <a routerLink="login" routerLinkActive="active">Login</a>
    </div>
  </div>


